.bg-image {
  background-image: url(../images/pizza-bg1.jpg);
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  /* position: relative; */
  height: 100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white; 
}

#about {
  text-align: center;
  padding: 30px;
  font-weight: bold;
}

table, th, td {
  border: 1px solid black;
}

tbody {
  color:blue;
}

tfoot {
  color:red;
}